<h4>you can do this lovely </h4>

<div class="box flex">
  <!-- <pre>{{GOAL   | json}}</pre> -->
  <!-- <pre>{{task | json}}</pre> -->
  <!-- <pre>{{config | json}}</pre> -->
  2, E'{{config | json}}'),
</div>

<!-- 
    <div class="form-group">
      <label>Task-Type</label>
      <select class="form-control" #taskType [(ngModel)]="task[taskType]">
        <option value="CONTENT">CONTENT</option>
        <option value="QUIZ">QUIZ</option>
        <option value="QUESTIONNAIRE">QUESTIONNAIRE</option>
      </select>
    </div> -->

    <div class="form-group">
      <label>Screen Headline</label>
      <input class="form-control" placeholder="Screen Headline"  [(ngModel)]="config['title']" >
    </div>

<h3> task-pages </h3>
    <div class="form-group" style="border:dotted">
      <label>Task-Type</label>
      <select class="form-control"  [(ngModel)]="task['type']"  >
        <option value="blurb">text</option>
        <option value="iframe">iframe</option>
        <option value="external">external link</option>
        <option value="vault">vault</option>
      </select>
      <label>CONTENT (html for rich text)</label>
      <textarea class="form-control"  placeholder="screen text" 
                cols="40" rows="5" #BODY ></textarea>
      <label>URL</label>  
      <input class="form-control" placeholder="URL"  [(ngModel)]="task['url']">
      <button (click)="addPage(BODY.value)">addPage</button>
    </div>

<br><br>
<button (click)="clear()" >Clear Config</button>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>